<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pawelpaszki.launcher">
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <application

        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:orientation="vertical"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <service android:name=".services.MyIntentService">

        </service>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:label="Simple Launcher Home"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppsListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
    </application>

</manifest>